@model CarSale.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Your Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>Hello <strong>@User.Identity.Name</strong>!</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3> </h3>
     
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
