@{
    ViewBag.Title = "About Us";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <p>
    <h2>@ViewBag.Message</h2>
    </p>
</hgroup>

<article>
    <p>
          
    </p>

    <p>
        At CarSale.com we aim to provide a streamlined vehicle buying and selling process and allow our customers to be confident when it comes to trading vehicles through us.
        
    </p>

    <p>
         
    </p>
</article>

<aside>
    <h3>CarSale</h3>
    <p>
        Meet CarSale.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About Us", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li>@Html.ActionLink("Sell a Car", "Create", "Cars")</li>   
    </ul>
</aside>