@model CarSale.Models.Car

@{
    ViewBag.Title = "Delete";
}

<h2>Remove Vehicle Detail?</h2>

<h3>Are you sure you want to Remove this Vehicle?</h3>
<h2> </h2>
<fieldset>
    <legend>Car</legend>

    <div class="display-label">
      <h3> @Html.DisplayNameFor(model => model.Model) </h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Model)
    </div>
    <h2> </h2>

    <div class="display-label">
      <h3>    @Html.DisplayNameFor(model => model.BodyType) </h3> 
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BodyType)
    </div>
    <h2> </h2>

    <div class="display-label">
        <h3>  @Html.DisplayNameFor(model => model.ModelNo) </h3> 
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModelNo)
    </div>
    <h2> </h2>

    <div class="display-label">
      <h3>    @Html.DisplayNameFor(model => model.FuelType) </h3> 
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FuelType)
    </div>
    <h2> </h2>

    <div class="display-label">
      <h3>    @Html.DisplayNameFor(model => model.ReleaseDate)</h3> 
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReleaseDate)
    </div>
    <h2> </h2>

    <div class="display-label">
       <h3>   @Html.DisplayNameFor(model => model.Color)</h3> 
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Color)
    </div>
    <h2> </h2>

    <div class="display-label">
        <h3>  @Html.DisplayNameFor(model => model.Price)</h3> 
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Remove" /> 
        <h3> 
        @Html.ActionLink("Back to My Vehicles Adverised", "Index")
            </h3> 
    </p>
}
