@model IEnumerable<CarSale.Models.Car>


@{
    ViewBag.Title = "My Advertised Vehicles";
}

<h1>My Advertised Vehicles</h1>


   <h2> @Html.ActionLink("Sell another Vehicle?", "Create")</h2>


<table>
    <tr>
                <th>
            @Html.DisplayNameFor(model => model.CarImg)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
                         <td>  </td>
        <th>
            @Html.DisplayNameFor(model => model.BodyType)
        </th>
                         <td>  </td>
        <th>
            @Html.DisplayNameFor(model => model.ModelNo)
        </th>
                         <td>  </td>
        <th>
            @Html.DisplayNameFor(model => model.FuelType)
        </th>
                         <td>  </td>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
                          <td>  </td>         
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
                         <td>  </td>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>






@foreach (var item in Model) {
    <tr>

        <td>

           @{
                var base64 = Convert.ToBase64String(item.CarImg);
               var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }

            <img height="50" width="75" src="@imgSrc" />

        </td>




        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
                      <td>  </td>
        <td>
            @Html.DisplayFor(modelItem => item.BodyType)
        </td>
                         <td>  </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelNo)
        </td>
                         <td>  </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelType)
        </td>
                         <td>  </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
                                             <td>  </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
                         <td>  </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("View Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Update Vehicle Details", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Remove this vehicle?", "Delete", new { id=item.ID })
        </td>
    </tr>
    
    
    
    
    
    
}

</table>






